.header__logo {
  background-image: url(../../../images/header__logo.svg);
  width: 176px;
  min-height: 52px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: 100% auto;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    min-height: 42px;
  }
}
