.header__logo {
  background-image: url(../../../images/__logo.svg);
  height: 52px;
  width: 176px;
  margin: 28px auto 0 48px;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .header__logo {
    height: 42px;
    width: 142px;
  }
}
