.lead__title {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 70px;
    line-height: 1.1;
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 100%;
  }
}
